header {
  & section {
    position: relative;
    .bg-banner {
      width: 100%;
      height: 356px;
      background-color: var(--primary-3);
      overflow: hidden;
      position: relative;
      & img {
        width: 100%;
        position: absolute;
        top: -180px;
      }
    }
    .content {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #FFF;
      border-radius: 37px 37px 0 0;
      padding: 41px 152px;
      text-align: center;
    }
  }
}

main {
  margin: 200px auto;
  .contactForm {
    .headerForm {
      width: 683px;
      margin: 0 auto;
      text-align: center;
    }
    .content {
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .detail {
        background-color: #F4F0EC;
        border-radius: 50px;
        width: 349px;
        padding: 76px 32px;
        .text {
          display: flex;
          align-items: center;
          & p {
            margin-left: 15px;
            color: #4D5053;
            font-family: var(--fn-jo);
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0.2px;
          }
          &:not(:first-child) {
            margin-top: 30px;
          }
        }
        .social {
          margin-top: 47px;
          & svg {
            fill: var(--primary-2);
            &:not(:first-child) {
              margin-left: 35px;
            }
          }
        }
      }
      .form {
        /* border: 1px solid red; */
        width: 797px;
        position: relative;
        .firstForm, .secondForm {
            justify-content: space-between;
            display: flex;
          .box {
            display: flex;
            flex-direction: column;
            & input {
              width: 378px;
            }
          }
        }
        
        .secondForm {
          margin-top: 50px;
        }
        .thirdForm {
          margin-top: 50px;
          display: block;
          & input {
            width: 100%;
            height: 130px;
          }
        }
        & label {
          color: #4D5053;
          font-size: 22px;
          line-height: 150%;
          letter-spacing: 0.22px;
        }
        & input, & textarea {
          border-bottom: 1px solid #000;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          font-family: var(--fn-jo);
          color: #4D5053;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: 0.22px;
          &:focus {
            outline: none;
          }
        }
        & textarea {
          width: 100%;
          height: 110px;
          resize: none;
        }
        .btn {
          margin-top: 58px;
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .map {
    margin-top: 270px;
    width: 100%;
    height: 500px;
    border-radius: 70px;
    overflow: hidden;
    position: relative;
    & img {
      width: 100%;
      position: absolute;
      top: -20px;
    }
    & svg {
      position: absolute;
      left: 310px;
      top: 150px;
    }
  }
}