@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');
:root {
  --primary-1 : #CDA274;
  --primary-2 : #292F36;
  --primary-3 : #F4F0EC;
  --fn-dm : 'DM Serif Display';
  --fn-jo : 'Jost';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
h1 {
  color: #292F36;
  font-family: var(--fn-dm);
  font-weight: 400;
  font-size: 50px;
}
h2 {
  color: #292F36;
  font-family: var(--fn-dm);
  font-weight: 400;
  font-size: 35px;
}
h3 {
  color: #292F36;
  font-family: var(--fn-dm);
  font-weight: 400;
  font-size: 25px;
}
h4 {
  color: #292F36;
  font-family: var(--fn-dm);
  font-weight: 400;
  font-size: 22px;
}
h5 {
  color: #292F36;
  font-family: var(--fn-dm);
  font-weight: 400;
  font-size: 20px;
}
h6 {
  color: #292F36;
  font-family: var(--fn-dm);
  font-weight: 400;
  font-size: 18px;
}
.btn {
  padding: 26px 54px;
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 18px;
  color: #FFF;
  font-family: var(--fn-jo);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.36px;
  cursor: pointer;
  & svg {
    margin-left: 10px;
  }
}
.btn-default {
  background-color: var(--primary-2);
  & svg {
    stroke: var(--primary-1);
  }
  &:hover {
    background-color: #4D5053;
  }
}
.btn-primary {
  background-color: var(--primary-1);
  & svg {
    stroke: var(--primary-2);
  }
  &:hover {
    background-color: #ceb8a1;
  }
}
.warpper {
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid goldenrod; */
}
header {
  /* width: 1200px;
  margin: 0 auto; */
  margin-top: 44px;
  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navLeft {
      width: 177px;
      display: flex;
      justify-content: space-between;
      & svg {
        height: 50px;
      }
      & h1 {
        font-size: 40px;
      }
    }
    .navRight {
      display: flex;
      justify-content: space-between;
      width: 572px;
      height: 25px;
      & a {
        text-decoration: none;
        font-family: 'Jost';
        font-size: 20px;
        color: var(--primary-2);
      }
    }
  }
  & section {
    margin-top: 57px;
  }
}
footer {
  .footerContent {
    display: flex;
    justify-content: space-between;
    .interno {
      width: 393px;
      .logo {
        display: flex;
        align-items: center;
        & h1 {
          margin-left: 10px;
          font-size: 40px;
        }
      }
      & p {
        margin-top: 18px;
        color: #4D5053;
        font-family: var(--fn-jo);
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0.22px;
      }
      .social {
        width: 225px;
        margin-top: 31px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & svg {
          fill: var(--primary-2);
        }
      }
    }
    .itemLink {
      display: flex;
      flex-direction: column;
      & a {
        margin-top: 30px;
        text-decoration: none;
        color: #4D5053;
        font-family: var(--fn-jo);
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0.22px;
      }
    }
    .contact {
      width: 258px;
      & p {
        margin-top: 30px;
        color: #4D5053;
        font-family: var(--fn-jo);
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0.22px;
      }
    }
  }
  .copyright {
    margin-top: 200px;
    margin-bottom: 20px;
    color: #4D5053;
    font-family: var(--fn-jo);
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.22px;
    text-align: center;
  }
}