@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  font-family: 'Overpass', sans-serif;
} 
body {
  width: 100%;
  // height: auto;
  // border: 1px solid red;
  overflow-x: hidden;
  // overflow-y: hidden;
}

header {
  border-radius: 0 0 5rem 5rem;
  // overflow: hidden;
  background-image: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 80%);
  background-position: left 28% bottom 47%, center;
  .container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    .top__nav {
      display: flex;
      justify-content: space-between;
      padding: 2rem 5rem;
      .navbar {
        display: flex;
        align-items: end;
        .logo__blogr {
          margin-right: 2rem;
        }
        .toggle__hamburger, .hamburger__nav {
          display: none;
        }
        .nav__menu {
          position: relative;
          cursor: pointer;
          margin-left: 2rem;
          display: flex;
          align-items: center;
          height: 100%;
          /* border: 1px solid red; */
          img {
            margin-left: 0.3rem;
          }
          .title__nav {
            color: white;
          }
          .dropdown__content {
            display: none;
            position: absolute;
            top: 2.5rem;
            background-color: white;
            width: 8rem;
            border-radius: 3px;
            padding: 1rem 0.5rem;
            ul {
              list-style: none;
            }
            a {
              height: 2rem;
              padding: 1rem 0.5rem;
              color: black;
              text-decoration: none;
              &:hover {
                font-weight: 600;
              }
            }
          }
          &:hover .dropdown__content {
            display: block;
          }
          &:hover .title__nav {
            text-decoration: underline;
          }
          &:hover .title__nav img {
            transform: rotate(-180deg);
          }
        }
      }
      .user__panel {
        display: flex;
        button {
          cursor: pointer;
          font-weight: bold;
        }
        .btn__login {
          background-color: #ffffff00;
          border: 0;
          color: white;
        }
        .btn__signup {
          margin-left: 2rem;
          padding: 0 1.5rem;
          border-radius: 2rem;
          border: 0;
          color: hsl(353, 100%, 62%);
          &:hover {
            background-color: hsl(355, 100%, 74%);
            color: white;
          }
        }
      }
    }
    .show {
      height: 25rem;
      // border: 1px solid red;
    
      color: white;
      text-align: center;
      /* border: 1px solid red; */
      h1 {
        margin-top: 4rem;
        font-size: 4.5rem;
      }
      p {
        font-size: 1.5rem;
        margin-top: 1rem;
      }
      .btn__show {
        margin-top: 2rem;
      }
      button {
        width: 11rem;
        height: 4rem;
        border-radius: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
      }
      .start {
        margin-right: 1rem;
        border: 0;
        background-color: white;
        color: hsl(353, 100%, 62%);
        &:hover {
          color: white;
          background-color: hsl(355, 100%, 74%);
        }
      }
      .learn {
        border: 1px solid white;
        background-color: #ffffff00;
        color: white;
        &:hover {
          color: hsl(353, 100%, 62%);
          background-color: white;
        }
      }
    }
  }
}

main {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    // overflow: hidden;
    // border: 1px solid red;
    .first__content {
      position: relative;
      h1 {
        color: hsl(208, 49%, 24%);
        text-align: center;
        margin: 10rem;
      }
      img {
        position: absolute;
        top: -5rem;
        right: -17rem;
      }
      .content {
        width: 600px;
        margin-left: 5rem;
        // border: 1px solid blue;
          h2 {
            color: hsl(208, 49%, 24%);
          }
          p {
            margin-top: 1.5rem;
          }
        .second {
          margin-top: 4rem;
        }
      }
    }
    .second__content {
      position: relative;
      background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(90deg, hsl(237, 17%, 21%) 0%, hsl(237, 23%, 32%) 80%);
      background-repeat: no-repeat;
      border-radius: 0 5rem 0 5rem;
      margin-top: 20rem;
      background-position: left -50% bottom 20%, center;
      img {
        position: absolute;
        top: -6rem;
        left: 5rem;
      }
      .content {
        width: 500px;
        color: white;
        padding: 7rem 0;
        margin-left: 47rem;
        // border: 1px solid red;
        p {
          margin-top: 1.5rem;
        }
      }
    }
    .third__content {
      position: relative;
      img {
        position: absolute;
        left: -18rem;
        top: -15rem;
      }
      .content {
        width: 500px;
        margin-top: 20rem;
        margin-left: 47rem;
        h2 {
          color: hsl(208, 49%, 24%);
        }
        p {
          margin-top: 1.5rem;
        }
        .second {
          margin-top: 4rem;
        }
      }
    }
  }
}

footer {
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 5rem 0 0;
  margin-top: 20rem;
  .container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
    color: hsl(240, 2%, 79%);
    img {
      object-fit: cover;
      width: 10rem;
    }
    h3 {
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
  .attribution {
    font-size: 11px; text-align: center;
    color: hsl(240, 2%, 79%);
  }
  .attribution a {
    color: hsl(240, 2%, 79%);
  }
}

@media (max-width: 480px) {
  // img {
  //   display: none;
  // }
  header {
    background-image: url("../images/bg-pattern-intro-mobile.svg"), linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 80%);
    background-position: left 35% bottom 60%, center;
    .container {
      .top__nav {
        display: flex;
        justify-content: space-between;
        .navbar {
          position: relative;
          .nav__menu {
            display: none;
          }
          // .toggle__hamburger {
          //   display: block;
          // }
          input {
            + label {
              content: url("/images/icon-hamburger.svg"); 
              height: 100%;
              width: 100%;
            }
            &:checked + label {
              content: url("/images/icon-close.svg");
            }
            &:checked + label ~ .hamburger__nav {
              display: grid;
            }
          }
          .hamburger__nav {
            display: none;
            position: absolute;
            top: 3rem;
            left: -4rem;
            padding: 2rem 0;
            margin: 1rem 0;
            width: 90vw;
            border-radius: 0.3rem;
            background-color: white;
            font-weight: 700;
            box-shadow: 0 5px 18px rgba(0, 0, 0, 0.5);
            .ham__menu {
              text-align: center;
              margin: 0 1.5rem;
              .dropdown__ham {
                // margin: 0 1.5rem;
                display: none;
                ul {
                  background-color: hsl(0, 0%, 90%);
                  padding: 1rem;
                  border-radius: 0.3rem;
                  li {
                    list-style: none;
                    a {
                      text-decoration: none;
                      color: hsl(0, 0%, 50%);
                    }
                    &:nth-child(n + 2) {
                      margin-top: 0.5rem;
                    }
                  }
                }
              }
              .title__ham {
                display: none;
                &:checked  + label img {
                  transform: rotate(-180deg);
                }
                &:checked  + label ~ .dropdown__ham {
                  display: block;
                }
                &:checked  + label {
                  color: hsl(0, 0%, 50%);
                }
              }
              label {
                content: "";
                img {
                  margin-left: 0.5rem;
                }
              }
              &:nth-child(n + 2) {
                margin-top: 1rem;
              }
            }
            .ham__user__panel {
              margin-top: 1.5rem;
              padding-top: 1rem;
              border-top: 1px solid hsla(0, 0%, 50%, 0.3);
              display: grid;
              button {
                margin: auto;
                border-radius: 2rem;
                padding: 1rem;
                width: 30vw;
                font-weight: 700;
                font-size: 1rem;
                &:first-child {
                  margin-bottom: 0.5rem;
                  border: 0;
                  background-color: #ffffff00;
                }
                &:last-child {
                  color: white;
                  border: 0;
                  background: linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 80%);
                }
              }
            }
          }
        }
        .user__panel {
          display: none;
        }
      }
      .show {
        padding: 0 2.5rem;
        h1 {
          font-size: 2.2rem;
        }
        .btn__show {
          button {
            width: 9rem;
            font-size: 1.3rem;
          }
          // .start {
          //   margin-right: 0.5rem;
          // }
        }
      }
    }
  }
  main {
    .container {
      margin-top: 5rem;
      .first__content {
        h1 {
          margin: 0;
          font-size: 2rem;
        }
        img {
          content: url("/images/illustration-editor-mobile.svg");
          position: relative;
          top: 0;
          right: 0;
          margin-top: 2rem;
          width: 100%;
        }
        .content {
          width: auto;
          text-align: center;
          margin-left: 0;
          padding: 0 2rem;
        }
      }
      .second__content {
        background-position: left 50% bottom -200%, center;
        background-size: 150%;
        .img__phone {
          width: 100%;
          top: -15rem;
          left: 0;
        }
        .content {
          width: 100%;
          margin-left: 0;
          text-align: center;
          padding: 0 5rem;
          padding-top: 15rem;
          padding-bottom: 10rem;
        }
      }
      .third__content {
        margin-top: 3rem;
        img {
          position: relative;
          top: 0;
          left: 0;
          content: url("../images/illustration-laptop-mobile.svg");
        }
        .content {
          width: 100%;
          margin: 2rem 0;
          text-align: center;
          padding: 0 5rem;
        }
      }
    }
  }
  footer {
    margin-top: 5rem;
    padding-bottom: 1rem;
    .container {
      display: grid;
      text-align: center;
      .list {
        margin-top: 5rem;
      }
    }
  }
}