@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

body{
  background-color: blanchedalmond;
}

.container {
  /* background-color: #686868; */
  width: 600px;
  height: 600px;
}

.inv__header {
  background-color: rgba(0, 183, 255, 0.4);
  padding: 10px;
}

/* header__top */
.header__top {
  display: flex;
  justify-content: space-between;
}

/* header__left */
.header__left {
  display: flex;
}

.header__left img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.3rem;
}

.header__left h1 {
  font-size: 1.2rem;
  color: white;
}

/* header__right */
.header__right {
  display: flex;
}

.header__right img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}

.bg__bar {
  background-color: rgba(100, 100, 100, 0.3);
  overflow: hidden;
  width: 200px;
  height: 24px;
  border-radius: 5px;
}

.info__weight {
  position: absolute;
  width: 200px;
  height: 24px;
  
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__bar {
  background-color: #2bd4a6;
  width: 50%;
  height: 24px;
}

/* header__bottom */
.header__bottom {
  display: flex;
  margin-top: 10px;
}
.header__bottom .btn {
  background-color: white;
  margin-right: 3px;
  padding: 0 5px;
  height: 24px;
  border-radius: 10px;
  transition: 0.2s;
  
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__bottom .btn:hover {
  background-color: rgb(43, 173, 212);
  color: white;
  cursor: pointer;
}