@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

body{
  /* background-color: blanchedalmond; */
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: red; */
  width: 45%;
  height: 80%;
  overflow: hidden;
}

.inv__header {
  background-color: rgba(0, 183, 255, 0.4);
  padding: 2%;
  max-width: 100%;
}

/* header__top */
.header__top {
  display: flex;
  justify-content: space-between;
}

/* header__left */
.header__left {
  display: flex;
}

.header__left img {
  height: 60%;
  margin-right: 0.3rem;
}

.header__left h1 {
  font-size: 1.2rem;
  color: white;
}

/* header__right */
.header__right {
  display: flex;
}

.header__right img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}

.bg__bar {
  background-color: rgba(100, 100, 100, 0.3);
  overflow: hidden;
  width: 200px;
  height: 24px;
  border-radius: 5px;
}

.info__weight {
  position: absolute;
  width: 200px;
  height: 24px;
  
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__bar {
  background-color: #2bd4a6;
  width: 50%;
  height: 24px;
}

/* header__bottom */
.header__bottom {
  display: flex;
  margin-top: 10px;
}
.header__bottom .btn {
  background-color: white;
  margin-right: 3px;
  padding: 0 5px;
  height: 24px;
  border-radius: 10px;
  transition: 0.2s;
  
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__bottom .btn:hover {
  background-color: rgb(43, 173, 212);
  color: white;
  cursor: pointer;
}

/* inv__items */
.inv__items {
  display: grid;
  column-gap: 1%;
  row-gap: 1%;
  grid-template-columns: auto auto auto auto auto;
  margin: 1% 1%;
  height: 400px;
  overflow: auto;
}

.item {
  background-color: rgba(100, 100, 100, 0.4);
  padding: 1%;
  border-radius: 10px;
  color: white;
}

.item p {
  text-align: end;
  font-size: 60%;
  margin-right: 5%;
}
.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.item h4 {
  text-align: center;
  font-size: 80%;
}

.hide {
  display: none;
}

/* menu */
#list {
  /* display: none; */
  position: absolute;
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
  width: 100px;
  padding: 0;
  overflow: hidden;
}

#list li {
  padding: 10px;
  cursor: pointer;
  color: #333;
}

/* #list li{
  padding: 0;
  text-decoration: none;
} */

#list li:hover {
  background-color: #333;
  color: #fff;
}
