@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  font-family: 'Red Hat Display', sans-serif;
}

body {
  /* background-color: black; */
  background-image: url('/images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsla(224, 23%, 55%, 0.2);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.attribution {
  position: absolute;
  max-height: 100%;
  width: 100%;
  bottom: 5%;
  color: white;
  text-align: center;
  font-size: 16px;
  z-index: 1;
}

.attribution a {
  text-decoration: none;
  color: white;
}

.Card {
  background-color: white;
  width: 450px;
  height: 700px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 20px 20px 80px hsla(223, 47%, 23%, 0.3);
  z-index: 2;
}

.cardText {
  margin: 35px 50px;
}

.cardDetail {
  margin: 35px 0;
  text-align: center;
}

.cardDetail p {
  color: grey;
}

.cardPrice {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
}

.price img {
  width: auto;
  height: 50px;
  margin-right: 24px;
}

.plan {
  line-height: 0.2;
}

.plan p {
  color: grey;
}

.btnChange a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.btnChange a:hover {
  cursor: pointer;
  color: hsla(245, 75%, 52%, 0.5);
}

.cardOrder {
  margin: 35px 0;
  display: grid;
}
.cardOrder button {
  margin-bottom: 30px;
  height: 50px;
  border-radius: 10px;
  border: 0;
}

.btnDone {
  background-color: var(--Bright-blue);
  color: white;
  box-shadow: 2px 5px 10px var(--Dark-blue);
  transition: 0.3s;
  font-weight: 700;
}

.btnDone:hover {
  background-color: hsla(245, 75%, 52%, 0.7);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cardOrder a {
  margin-top: 20px;
  text-align: center;
  color: var(--Desaturated-blue);
  transition: 0.3s;
  font-weight: 700;
}

.cardOrder a:hover {
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .Card {
    width: 330px;
    height: 570px;
  }

  .cardImages img {
    width: 100%;
  }

  .cardText {
    margin: 0 25px;
  }

  .cardDetail h1 {
    font-size: 24px;
  }

  .cardDetail p {
    font-size: 17px;
  }

  .price img {
    margin-right: 16px;
  }

  .cardPrice h3 {
    font-size: 14px;
  }

  .cardPrice p {
    font-size: 14px;
  }

  .btnChange a {
    font-size: 14px;
  }

  .cardOrder button {
    margin-bottom: 10px;
  }
}