* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  transition: 0.3s; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  position: relative; }
  header .logo h1 {
    color: #FFF; }
  header .navMenu {
    display: flex;
    align-items: center;
    gap: 60px; }
    header .navMenu a {
      text-decoration: none;
      color: #FFF; }
    header .navMenu button {
      background-color: #fa901e;
      border: 0;
      color: #FFF;
      padding: 10px 30px;
      border-radius: 5px;
      cursor: pointer; }
      header .navMenu button:hover {
        background-color: #fcb569; }
  header .hamburgerMenu {
    display: none; }

main {
  max-width: 1440px;
  margin: 0 auto; }
  main .subscribe {
    margin: 0 130px;
    color: #FFF; }
    main .subscribe .heading p {
      margin-top: 32px;
      width: 540px; }
    main .subscribe .inputContainer {
      margin-top: 70px;
      margin-bottom: 160px;
      background-color: #1C140F;
      border-radius: 15px;
      padding: 40px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      main .subscribe .inputContainer .content {
        width: 500px; }
        main .subscribe .inputContainer .content h2 {
          font-weight: 500;
          margin-bottom: 10px; }
      main .subscribe .inputContainer .inputBox {
        background-color: #FFF;
        padding: 14px;
        border-radius: 8px;
        display: flex;
        gap: 15px; }
        main .subscribe .inputContainer .inputBox input {
          border: 0;
          width: 250px; }
          main .subscribe .inputContainer .inputBox input:focus {
            outline: none; }
        main .subscribe .inputContainer .inputBox button {
          border-radius: 8px;
          padding: 8px 15px;
          border: 0;
          background-color: #db7100;
          color: #FFF;
          cursor: pointer; }
          main .subscribe .inputContainer .inputBox button:hover {
            background-color: #ffb566; }

footer {
  color: #FFF;
  background-color: #070707; }
  footer .content {
    display: flex;
    justify-content: space-between;
    padding: 60px 130px; }
    footer .content .subcontent {
      width: 370px; }
      footer .content .subcontent h2 {
        margin-bottom: 15px; }
      footer .content .subcontent p:last-child {
        margin-top: 25px; }
    footer .content .about {
      width: 100px;
      display: flex;
      flex-direction: column; }
      footer .content .about h3 {
        font-weight: 500;
        margin-bottom: 15px; }
      footer .content .about a {
        text-decoration: none;
        color: #FFF; }
    footer .content .contact {
      width: 280px; }
      footer .content .contact h3 {
        font-weight: 500;
        margin-bottom: 15px; }
      footer .content .contact p:last-child {
        margin-top: 10px; }
    footer .content .social {
      width: 180px;
      display: flex;
      align-items: end;
      gap: 16px; }
      footer .content .social button {
        padding: 10px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 0;
        cursor: pointer; }
        footer .content .social button img {
          width: 13px; }
  footer .copyRight {
    border-top: 1px solid #D2D2D2; }
    footer .copyRight p {
      text-align: center;
      padding: 30px 0; }

@media (max-width: 800px) {
  header {
    padding: 16px 30px; }
  main .subscribe {
    margin: 0 30px; }
    main .subscribe .inputContainer {
      margin-top: 30px;
      margin-bottom: 100px;
      gap: 50px; }
      main .subscribe .inputContainer .inputBox input {
        width: 200px; }
  footer .content {
    padding: 60px 50px;
    gap: 30px; }
    footer .content .about {
      width: 200px; }
    footer .content .social {
      flex-direction: column; } }

@media (max-width: 480px) {
  header {
    padding: 16px 20px; }
    header .navMenu {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      background-color: #1C140F;
      padding: 15px;
      border-radius: 5px;
      position: absolute;
      top: 80px;
      width: 90%;
      z-index: 2;
      margin: 0; }
      header .navMenu a {
        text-decoration: none;
        color: #FFF; }
      header .navMenu button {
        background-color: #fa901e;
        border: 0;
        color: #FFF;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer; }
        header .navMenu button:hover {
          background-color: #fcb569; }
    header .showDropDown {
      display: flex; }
    header .hamburgerMenu {
      display: block;
      cursor: pointer; }
  main .subscribe {
    margin: 0 20px; }
    main .subscribe .heading p {
      margin-top: 15px;
      width: 100%; }
    main .subscribe .inputContainer {
      margin-top: 20px;
      margin-bottom: 100px;
      flex-direction: column; }
      main .subscribe .inputContainer .content {
        width: 100%; }
      main .subscribe .inputContainer .inputBox input {
        width: 150px; }
  footer .content {
    padding: 60px 50px;
    flex-direction: column;
    gap: 70px; }
    footer .content .subcontent {
      width: 100%; }
    footer .content .social {
      flex-direction: row;
      margin: 0 auto; }
  footer .copyRight p {
    font-size: 14px; } }
