main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; }
  main .input-password-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #f9f9f9;
    border-radius: 50px;
    width: 845px;
    height: 613px;
    padding: 96px 112px; }
    main .input-password-box input {
      width: 100%;
      padding: 31px;
      border-radius: 20px;
      border: 1px solid #D3D3D3;
      font-family: Nunito;
      font-size: 20px;
      color: #797979; }
      main .input-password-box input:focus {
        outline: none; }
    main .input-password-box button {
      background-color: #242331;
      color: #fff; }
