@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

:root {
  --og-blue : #017ad4;
}

body {
  width: 1440px;
  background-image: url('/assets/Background.jpg');
  margin: 0 auto;
  overflow-x: hidden;
  border: 1px solid red;
}

header {
  position: relative;
  margin: 125px 0;
}

header .bg {
  position: absolute;
  top: -220px;
  left: -400px;
  z-index: 1;
}

header nav ul {
  position: absolute;
  width: 1440px;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  z-index: 2;
}

header nav ul li {
  list-style: none;
  font-weight: 800;
  margin: auto 0;
}

header nav ul li a {
  color: grey;
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s;
}

header nav ul li a:hover {
  color: black;
}

header nav ul li button {
  text-transform: uppercase;
  border: 0;
  background-color: var(--og-blue);
  padding: 16px 40px;
  font-size: 24px;
  color: white;
  transition: 0.3s;
}

header nav ul li button:hover {
  background-color: rgb(68, 124, 209);
  cursor: pointer;
}

.contentHeader {
  position: relative;
  display: grid;
  justify-content: center;
}

.contentHeader .header {
  margin-top: 200px;
  color: white;
  background-color: black;
  width: 270px;
  height: 35px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 400;
}

.contentHeader .title {
  text-transform: uppercase;
  display: flex;
  font-size: 85px;
}

.contentHeader .title .fill {
  color: #017ad4;
}

.contentHeader .title .outline {
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 5px #017ad4;
}

.contentHeader .detail {
  display: flex;
  width: 990px;
  height: 50px;
}

.contentHeader .detail p {
  font-size: 12px;
  margin-right: 30px;
}

.contentHeader .learnMore {
  color: #017ad4;
  background-color: #ffffff00;
  border: 5px solid #017ad4;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin: 40px auto;
  transition: 0.3s;
}

.contentHeader .learnMore:hover {
  cursor: pointer;
  background-color: #017ad4;
  color: white;
}

.lineUp {
  position: relative;
}

.lineUp .lineUpContent {
  position: absolute;
  top: 100px;
  display: grid;
  justify-content: center;
  width: 100%;
}

.lineUp .lineUpContent h1 {
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 3px #fff;
  text-transform: uppercase;
  font-size: 85px;
  margin: 0 auto;
}

.lineUp .lineUpContent h3 {
  border: 3px solid #fff;
  color: #fff;
  text-transform: uppercase;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

.lineUp .lineUpContent .backLine {
  width: 700px;
  height: 3px;
  background-color: black;
  margin-top: 20px;
}

.lineUp .lineUpContent ul {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.lineUp .lineUpContent ul li {
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
}

.watchLive {
  position: relative;
  height: 757px;
  margin-left: 130px;
}

.watchLive .title {
  display: flex;
  text-transform: uppercase;
  font-size: 60px;
}

.watchLive .title .fill {
  color: #017ad4;
}

.watchLive .title .outline {
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 4px #017ad4;
}

.watchLive .detail {
  width: 500px;
}

.watchLive button {
  background-color: #ffffff00;
  color: #017ad4;
  border: 5px solid #017ad4;
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  margin-top: 50px;
}

.watchLive img {
  position: absolute;
  top: -25px;
  right: 0;
}

.ticketSale {
  position: relative;
}

.ticketSale {
  position: relative;
}

.ticketSale .ticketSaleBox {
  position: absolute;
  top: 50px;
  width: 1440px;
  display: grid;
  justify-content: center;
}

.ticketSale .ticketSaleBox .title {
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 3px #fff;
  font-size: 150px;
  text-transform: uppercase;
}

.ticketSale .ticketSaleBox .box-outline {
  border: 3px solid #fff;
  width: 280px;
  height: 50px;
  margin: 0 auto;
}

.ticketSale .ticketSaleBox .box-outline h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.ticketSale .ticketSaleBox .date {
  color: #fff;
  font-size: 120px;
  margin: 0 auto;
}

.bestPlayer .top {
  display: flex;
}

.bestPlayer .top .left {
  position: relative;
  display: grid;
  grid-template-rows: auto;
}

.bestPlayer .top .left img {
  position: absolute;
  top: 50px;
  left: -250px;
}

.bestPlayer .top .left button {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  width: 280px;
  height: 50px;
  margin-left: 150px;
}

.bestPlayer .top .left .outline {
  margin-top: 350px;
  background-color: #ffffff00;
  border: 5px solid #017ad4;
  color: #017ad4;
}

.bestPlayer .top .left .fill {
  margin-top: 30px;
  border: 0;
  background-color: #017ad4;
  color: #fff;
}

.bestPlayer .top .right {
  margin-top: 250px;
  margin-left: 200px;
  width: 550px;
}

.bestPlayer .top .right .title {
  display: flex;
}

.bestPlayer .top .right .title .fill {
  color: #017ad4;
  text-transform: uppercase;
  font-size: 100px;
}

.bestPlayer .top .right .title .outline {
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 3px #017ad4;
  font-size: 100px;
  text-transform: uppercase;
}

.bestPlayer .bottom {
  margin-top: 150px;
}

.bestPlayer .bottom img {
  width: 1440px;
}

.bestPlayer {
  height: 955px;
}

.teams {
  position: relative;
}

.teams .teamList .top {
  position: absolute;
  top: 50px;
  width: 1440px;
  display: flex;
  justify-content: center;
}

.teams .teamList .top div {
  width: 300px;
  height: 300px;
  margin-right: 80px;
}

.teams .teamList .top div h1 {
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 3px #fff;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 800;
}

.teams .teamList .top div button {
  background-color: #fff;
  text-transform: uppercase;
  color: #017ad4;
  font-size: 24px;
  font-weight: 800;
  border: 0;
  width: 300px;
  height: 50px;
  margin-top: 50px;
}

.teams .teamList .bottom {
  width: 1440px;
  display: flex;
  justify-content: center;
}

.teams .teamList .bottom div {
  width: 300px;
  height: 300px;
  margin-right: 80px;
}

.teams .teamList .bottom div h1 {
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 3px #017ad4;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 800;
}

.teams .teamList .bottom div button {
  background-color: #017ad4;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  border: 0;
  width: 300px;
  height: 50px;
  margin-top: 50px;
}

.legendaryMatch {
  margin-top: 100px;
  display: flex;
}

.legendaryMatch .right {
  position: relative;
  width: 500px;
  margin-top: 250px;
  margin-left: -100px;
}

.legendaryMatch .right img {
  position: absolute;
  right: -900px;
  bottom: -100px;
}

.legendaryMatch .right .title h1 {
  text-transform: uppercase;
  font-size: 100px;
}

.legendaryMatch .right .title .fill {
  color: #017ad4;
}

.legendaryMatch .right .title .outline {
  margin-top: -50px;
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 3px #017ad4;
}

.legendaryMatch .right button {
  margin-top: 30px;
  border: 0;
  background-color: #017ad4;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  width: 300px;
  height: 60px;
}