@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@400;500;700&display=swap');

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --f-frau: 'Fraunces', serif;
  --f-mont: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--f-frau);
  font-size: 14px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
}

.card {
  display: flex;
  overflow: hidden;
  width: 600px;
  height: 450px;
  border-radius: 1rem;
  background-color: var(--white);
}

.card-left {
  width: 720px;
}
.card-left img {
  max-width: 720px;
  height: 100%;
}
    
.card-right {
  margin: 2rem;
}
.card-right .type {
  color: var(--grayish-blue);
  font-family: var(--f-mont);
  font-weight: 400;
  font-size: 1.1rem;
}
.card-right h1 {
  font-size: 2.5rem;
  margin: 1rem 0rem;
}
.card-right .detail {
  color: var(--grayish-blue);
  font-family: var(--f-mont);
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.card-right .price {
  display: flex;
  align-items: center;
}
.price h1 {
  color: var(--dark-cyan);
  font-size: 2.5rem;
}
.price p {
  color: var(--grayish-blue);
  margin-left: 1.5rem;
  text-decoration-line: line-through; 
  font-family: var(--f-mont);
  font-weight: 400;
  font-size: 1rem;
}

.btn-cart {
  background-color: var(--dark-cyan);
  width: 100%;
  max-width: 400px;
  color: var(--white);
  text-align: center;
  padding: 1.2rem 0rem;
  border-radius: 1rem;
}
.btn-cart h3 {
  font-family: var(--f-mont);
  font-weight: 700;
  font-size: 1rem;
}
.btn-cart h3 > i {
  font-size: 1rem;
  margin: 0 0.5rem;
}
.btn-cart:hover {
  cursor: pointer;
  background-color: #1a4031;
}

@media only screen and (max-width: 960px) {
  .card {
    margin: 1.5rem 1rem;
    width: 375px;
    height: auto;
    flex-direction: column;
  }
  .card-left {
    width: 100%;
    height: 240px;
    background-image: url(/images/image-product-mobile.jpg);
    background-size: cover;
    aspect-ratio: auto;
  }
  .card-left img {
    display: none;
  }
  .card-right {
    max-width: 100%;
  }
  .type, .detail {
    font-size: 1.1rem;
  }
  .card-right h1 {
    font-size: 2rem;
  }
}